*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
.env
.kotlin/
_
*.py
old_*.txt
*.pyc
extracted_lines.txt
match.json
match.txt
generate_code_html.ps1
